body{
	font-size: 15px; 
	color: black;
	background-color: red; 
	font-family: 'Oxygen', sans-serif
}

/** HEADER **/ 

#header-nav{
	background-color: maroon; 
	border-radius: 0; 
	border: 0; 
}